%fieldset
  %legend
    %span.label
      = question.content
      = image_tag(question.picture_url) if question.picture_url.present?
  %ol.list
    - question.answers.each do |answer|
      %li
        %label
          = radio_button_tag "question[student_answers][radio_button]", answer.id, answer.value == 'true', :disabled => disabled
          = answer.content
          = image_tag(answer.picture_url) if answer.picture_url.present?
        = answer.points if disabled and answer.value == 'true'