%h2 Time to end exam:
= time_to_end_exam(@exam)
- semantic_form_for [@exam, @question] do |f|
  = @question.content
  = f.input :state_event, :as => :hidden, :value => 'visit'
  = render :partial => @question.teacher_question.question_type, :locals => { :question => @question, :disabled => nil }
  - f.buttons do
    = f.commit_button "next"
    - @exam.questions.each do |question|
      = f.commit_button "#{question.position}"
    = f.commit_button "finish"