.block
  .hd
    %h1= t("views.questions.index.header")
  .bd
    %h2
      = t("views.questions.index.score")
      = number_to_percentage(@exam.percentage_score, :precision => 0)
    %ul.list
      - @questions.each do |question|
        %li
          = render :partial => question.teacher_question.question_type, :locals => { :question => question, :disabled => true }
= render :partial => 'sidebar/exams'