.block
  .hd
    %h1= t("views.students.edit.header")
  .bd
    - semantic_form_for @student do |f|
      = f.input :login, :input_html => { :disabled => true }
      = f.input :first_name, :required => false
      = f.input :last_name, :required => false
      = f.input :password, :required => false
      = f.input :password_confirmation, :required => false
      = f.input :group_list, :required => false, :hint => t("views.students.group_hint")
      - f.buttons do
        = f.commit_button t("views.confirm")
= render :partial => 'sidebar/students'