.block
  .hd
    %h1= t("views.students.index.header")
  .bd
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.user.login")
          %td
            = t("activerecord.attributes.user.last_request_at")
          %td
            = t("activerecord.attributes.user.last_login_ip")
          %td
      %tbody
        - @students.each do |student|
          %tr
            %td
              = h student.login
            %td
              = h student.last_request_at
            %td
              = h student.last_login_ip
            %td.text-right
              = link_to t("views.delete"), student, :method => :delete
= render :partial => 'sidebar/students'