.block
  .hd
    %h1= t("views.users.show.header")
  .bd
    %p
      %b
        = t("activerecord.attributes.user.login")
      = h @user.login
    %p
      %b
        = t("activerecord.attributes.user.last_login_at")
      = h @user.last_login_at
= render :partial => 'sidebar/account'