.block
  .hd
    %h1 Edit question
  .bd
    - semantic_form_for @teacher_question do |f|
      = render :partial => 'form', :locals => { :f => f }
      - f.fields_for :teacher_answers do |af|
        = af.input :content
        = af.input :points
        - unless af.object.new_record?
          = af.input :_delete, :as => :boolean, :required => false
      - f.buttons do
        = f.commit_button, "Commit"
    = link_to 'Back', teacher_questions_path
