.block
  .hd
    %h1= t("views.teacher_questions.edit.header")
  .bd
    - semantic_form_for setup_picture(@teacher_question), :html => { :multipart => true } do |f|
      = render :partial => 'form', :locals => { :f => f }
      - f.fields_for :teacher_answers do |af|
        = af.input :content
        = af.input :points
        - if !af.object.new_record? and af.object.destroyable?
          = af.input :_delete, :as => :boolean, :required => false
      - f.buttons do
        = f.commit_button t("views.confirm")
= render :partial => 'sidebar/teacher_questions'
