%h1
  Listing questions
%table
  %tr
    %th
      Content
    %th
      Answers
    %th
      Question type
  - @teacher_questions.each do |question|
    %tr
      %td
        = h question.content
      %td
        =  question.teacher_answers.count
      %td
        =  question.question_type
      %td
        = link_to 'Show', question
      %td
        = link_to 'Edit', edit_teacher_question_path(question)
      %td
        = link_to 'Destroy', question, :method => :delete
= link_to 'New question', new_teacher_question_path
