.block
  .hd
    %h1= t("views.teacher_questions.index.header")
  .bd
    - unless @tags.empty?
      %h3
        - tag_cloud @tags, %w(tag1 tag2 tag3 tag4) do |tag, css_class|
          = link_to tag.name, teacher_questions_path(:tag => tag.name), :class => css_class
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.teacher_question.content")
          %td
            = t("views.teacher_questions.index.answers")
          %td
            = t("activerecord.attributes.teacher_question.question_type")
          %td
      %tbody
        - @teacher_questions.each do |question|
          %tr
            %td
              = h question.content
            %td
              =  question.teacher_answers.count
            %td
              =  question.question_type.titleize
            %td.text-right
              = link_to t("views.show"), question
              = link_to t("views.edit"), edit_teacher_question_path(question)
              = link_to_if question.destroyable?, t("views.delete"), question, :method => :delete
= render :partial => 'sidebar/teacher_questions'