.block
  .hd
    %h1= t("views.teacher_questions.show.header")
  .bd
    %p
      %b
        = t("activerecord.attributes.teacher_question.content")
      = h @teacher_question.content
    %p
      %b
        = t("activerecord.attributes.teacher_question.question_type")
      = h @teacher_question.question_type
    %p
      %b
        = t("activerecord.attributes.picture.picture")
      = image_tag @teacher_question.picture.picture.url if @teacher_question.picture
    %p
      %b
        = t("activerecord.attributes.teacher_question.tag_list")
      = h @teacher_question.tags.to_sentence(:last_word_connector => ', ', :two_words_connector => ', ')
    = link_to t("views.edit"), edit_teacher_question_path(@teacher_question)
    %h3= t("views.teacher_questions.show.answers")
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.teacher_answer.content")
          %td
            = t("activerecord.attributes.teacher_answer.points")
          %td
            = t("activerecord.attributes.picture.picture")
          %td
      %tbody
        = render @teacher_question.teacher_answers
    - unless @teacher_question.question_type == 'text_field' and !@teacher_question.teacher_answers.empty?
      - semantic_form_for TeacherAnswer.new(:teacher_question => @teacher_question, :picture => Picture.new), :html => { :multipart => true } do |f|
        = f.input :teacher_question_id, :as => :hidden
        = f.input :content, :required => false
        = f.input :points
        - f.fields_for :picture do |fp|
          = fp.input :picture, :as => :file, :required => false
        - f.buttons do
          = f.commit_button t("views.confirm")
= render :partial => 'sidebar/teacher_questions'
