.block
  .hd
    %h1= t("views.mass_exams.new.header")
  .bd
    - semantic_form_for @mass_exam do |f|
      - f.inputs do
        = f.input :teacher_exam, :as => :select, :collection => current_user.teacher_exams
        = f.input :student_ids, :as => :check_boxes, :collection => students_for_select
      - f.buttons do
        = f.commit_button t("views.confirm")
= render :partial => 'sidebar/new_exams'
