.block
  .hd
    %h1= t("views.teacher_exams.index.header")
  .bd
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.teacher_exam.name")
          %td
            = t("activerecord.attributes.user.login")
          %td
      %tbody
        - @teacher_exams.each do |exam|
          %tr
            %td
              = h exam.name
            %td
              = h exam.teacher_login
            %td.text-right
              = link_to t("views.show"), exam
              = link_to t("views.edit"), edit_teacher_exam_path(exam)
              = link_to_if exam.destroyable?, t("views.delete"), exam, :method => :delete
= render :partial => 'sidebar/teacher_exams'
