.block
  .hd
    %h1= t("views.teacher_exams.show.header")
  .bd
    %p
      %b
        = t("activerecord.attributes.teacher_exam.name")
      = h @teacher_exam.name
    %p
      %b
        = t("activerecord.attributes.teacher_exam.question_number")
      = h @teacher_exam.question_number
    %p
      %b
        = t("activerecord.attributes.teacher_exam.duration")
      = t("views.teacher_exams.show.duration_in_minutes")
      = h @teacher_exam.duration
    %p
      %b
        = t("activerecord.attributes.teacher_exam.start_date")
      = h @teacher_exam.start_date
    %p
      %b
        = t("views.teacher_exams.show.teacher")
      = h @teacher_exam.teacher_login
    %p
      %b
        = t("views.teacher_exams.show.questions")
      %ul
        - @teacher_exam.teacher_questions.each do |question|
          %li= question.content
    %p
      %b
        = t("views.teacher_exams.show.max_points")
      = @teacher_exam.max_points
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.exam.students")
          %td
            = t("activerecord.attributes.exam.sum_points")
          %td
            = t("activerecord.attributes.exam.percentage_score")
          %td
            = t("activerecord.attributes.exam.state")
      %tbody
        - @teacher_exam.exams.each do |exam|
          %tr
            %td
              = h (exam.student_full_name.blank? ? exam.student_login : exam.student_full_name)
            %td
              = h exam.sum_points
            %td
              = h number_to_percentage(exam.percentage_score, :precision => 0)
            %td
              = h exam.state
    = link_to t("views.edit"), edit_teacher_exam_path(@teacher_exam)
    = link_to t("views.teacher_exams.show.pdf"), teacher_exam_path(@teacher_exam, :format => "pdf")
= render :partial => 'sidebar/teacher_exams'


