.block
  .hd
    %h1= t("views.exams.index.header")
  .bd
    %table
      %thead
        %tr
          %td
            = t("activerecord.attributes.teacher_exam.name")
          %td
            = t("activerecord.attributes.exam.state")
          %td
          %td
          %td
      %tbody
        - @exams.each do |exam|
          %tr
            %td
              = h exam.name
            %td
              = h localize_exam_state(exam.state)
            %td
              = link_to t("views.show"), edit_exam_path(exam)
            %td
              = link_to_if exam.finished?, t("views.exams.index.show_questions"), exam_questions_path(exam)
= render :partial => 'sidebar/exams'