- semantic_form_for @exam do |f|
  = f.error_messages
  = f.input :state_event, :as => :hidden, :value => 'prepare'
  = f.input :teacher_exam
  = f.input :student
  - f.buttons do
    = f.commit_button