%tr
  %td
    = h teacher_answer.content
  %td
    = h teacher_answer.points
  %td
    = image_tag(teacher_answer.picture.picture.url(:small)) if teacher_answer.picture
  %td.text-right
    = link_to 'Edit', edit_teacher_answer_path(teacher_answer)
    = link_to 'Destroy', teacher_answer, :method => :delete