!!! Strict
%html{html_attrs}
  %head
    %title Quiz
    = stylesheet_link_tag "quiz", "formtastic"
    = javascript_include_tag 'jquery'
  %body
    %div#menu
      - if current_user
        = render "layouts/#{current_user.type.underscore}_menu"
      - else
        = render 'layouts/no_user_menu'
    %span#notice= flash[:notice]
    = yield
