!!! Strict
%html{html_attrs}
  %head
    %title Quiz
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'

    = javascript_include_tag 'jquery', 'jquery.countdown', 'application'
  %body
    #container
      #header
        #language
          - form_tag language_path, :method => :put do
            - if I18n.locale.to_sym == :en
              = hidden_field_tag 'language', 'pl'
              = image_submit_tag('/images/pl.gif')
            - elsif I18n.locale.to_sym == :pl
              = hidden_field_tag 'language', 'en'
              = image_submit_tag('/images/en.gif')
        %h1 Quiz
        #navigation
          - if current_user
            = render "layouts/#{current_user.type.underscore}_menu"
          %ul#user-navigation
            - if current_user
              %li.first= link_to t("views.path.account"), account_path
              %li.last= link_to t("views.path.logout"), user_session_path, :method => :delete
            - else
              %li.first= link_to t("views.path.register"), new_teacher_path
              %li.last= link_to t("views.path.login"), new_user_session_path

      #sidebar
        = yield :sidebar
      #content
        = flash_messages
        = yield
      #footer
        2009
